@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.7;
}
ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 700;
}

/* ###################### utility classes ############### */
.container{max-width: 1200px ; width: 90%; margin: 0 auto;}
.lgheading{font-size: 3.5rem;}
.mdheading{font-size: 2.2rem;}
.textred{color: #e63946;}
.textlight{color: #f4f4f4;}
.textdark{color: #333;}
.textgray{color: #555;}
.btn{display: inline-block; padding: 0.5em 1.5em; font-weight: 500 ;margin: 0.5em 0; border-radius: 100px; }
.btnpri{background-color: white;}
.btnsec{border:1px solid #e63946;}
.btn:hover{background-color: #aaa;}
.bgdark{background-color: #263238;}


/* ###################################### */

.header{
    position:relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url('./vom_re_zum_digital_business_analyst.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{padding: 1rem;}
.navbar .logo{float: left; font-size: 3.5rem;}
.navbar .navitems{float: right; margin-top: 1rem; color: #ddd;}
.navbar .navitem{display: inline-block; padding: 1rem;}
.clearfix{clear: both;}
.navbar a:hover{border-bottom: 1px solid white;}
.navbar a{padding-bottom: 0.3rem;}
.navbar a{color: white;}

/* ################ Sign in ############## */
.signup{margin-top: 3rem; text-align: center;padding: 3rem;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));}

.signupform label{display: block;font-size: 2rem;}
.signupform input{display: block;width: 100% ;padding: 1rem;}
.signupform{max-width: 300px;width: 90%; margin: auto;text-align: left;}
.formgroup{margin-top: 1rem;}
.btnsign{background: black;color: azure;padding: 1rem 2rem;display: block;margin: auto;font-size: 1rem;margin-top: 1rem;}

/* #################### BU programs ################## */
.buunit{padding: 10rem 0;background: #ddd;}
.boxwrap{box-shadow: 5px 5px 20px 0px #aaa;}
.bu{width: 33.333% ; float: left;padding: 2rem; text-align: center;}
.bu1, .bu3{background-color: #263238;color: white;}
.bu2{background: linear-gradient(25deg, #d64c7f, #ee4758 50%); color: white;}
.buunit h1{font-size: 3rem;text-align: center;margin-bottom: 2rem;}
.buunit h2{font-size: 3.5rem;}
.checkchamp{font-size: 2rem;margin-top: 3rem;}

/* ################## Particular BU ####################  */
.showcase{background: #ddd;padding: 10rem 0rem;}
.row{height: 350px;background: #f4f4f4;}
.row .imagebox{float: left;width: 50%;height: 100%;}
.row .textbox{float: right;width: 50%;padding: 3rem;}
.row .imagebox img{display: inline-block;width: 100%;height: 100%;object-fit: cover;}

/* ########################## CheckChampion #################### */
.champion{padding: 10rem 0;background: #ddd;}
.champ{width: 33.333% ; float: left;padding: 2rem; text-align: center;}
.champ1, .champ3{background-color: #263238;color: white;}
.champ2{background: linear-gradient(25deg, #d64c7f, #ee4758 50%); color: white;}
.champion h1{font-size: 3rem;text-align: center;margin-bottom: 2rem;}
.champion h3{font-size: 3rem;}
.champion h4{font-size: 2rem;}

/* ################### footer ###################### */
.footer{background-color: #263238; color: white; padding: 2rem;text-align: center;}
.i{padding: 2rem;}
.socialmedia i{margin: 2rem;}

