{% extends 'account/base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
    <header class="header">
        <nav class="container navbar ">
            <h1 class="logo textlight">Idea Manangment</h1>
       </nav>
       <section class=" signup">
        <h2 class="lgheading textlight">Sign in</h2>
        <form class="signupform" method="POST">
          {% csrf_token %}
            <div class="formgroup">
                <label for="Email" class="textlight">Username</label>
                <input type="text"  id="Email" name="username" required>
            <div class="formgroup">
                <label for="Password" class="textlight">Password</label>
                <input type="Password"  id="Password" name="password"  required>
            </div>
                <!-- <a href="./home.html" class="btn btnsign">Log in</a> -->
                <button type="submit" class="btn btnsign">Log in </button>
                <a href="{% url 'register' %}" class="textlight">Don't have account, click here...</a>
            </div>
        </form>
    </section>  
    </header>
{% endblock content %}