<div class="navbar">
    <div class="left" style="align-content: flex-end;">
        <a href="{% url 'idea-list' %}">View All Ideas</a>
        <a href="{% url 'program-list' %}">View All Programs</a>
        <a href="{% url 'program-create' %}">Add Program</a>
    </div>
    <div>
        <a href="{% url 'user-profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <hr>
    {% if request.user.profile.is_jury %}
    <a href="{% url 'jury-idea-list' %}">See Ideas to Be judged</a>
    <hr>
    {% endif %}
</div>