{% extends 'main.html' %}
{% load static %}

{% block content %}
<section class="buunit">
    <div class="container">
        <h1>Select Your Department</h1>
        <div class="boxwrap">
            {% for program in programs %}
            <div class="bu bu1">

                <i class="fa-solid fa-bullhorn fa-3x textred"></i>
                <h2 class="mdheading">{{program.business_unit.name}}</h2>
                <p>{{program.business_unit.description}}
                </p>
                <a href="#{{program.id}}">
                    <button type="submit" class="btn btnsign">Click here </button></a>
            </div>

            {% endfor %}
        </div>
    </div>
    <a href="#knowchamp">
        <button type="submit" class="btn btnsign checkchamp">Click here to check champion</button></a>
    </div>

</section>
{% for program in programs %}
<section class="showcase" id="{{program.id}}">
    <div class="container">
        <div class="row">
            <div class="imagebox">
                <img src="{{program.image.url}}" alt="">
            </div>
            <div class="textbox">
                <h2 class="lgheading textdark">{{program.name}}</h2>
                <p class="textgray">Idea submission for {{program.business_unit.name}} department <br>Program
                    Duration <br>{{program.start_time}} to
                    {{program.end_time}} <br>Idea submission <br>{{program.application_start_time}} to
                    {{program.application_end_time}}</p>
                <a href="{% url 'program' program.id %}" class="btn btnsec textred">View</a>
            </div>
        </div>
    </div>
</section>
{% endfor %}
</section>

<section class="champion" id="knowchamp">
    <div class="container">
        <h1>KNOW YOUR IDEA CHAMPION</h1>
        <div class="boxwrap">
            {% for program in programs %}
            <div class="champ champ1">

                <i class="fa-solid fa-user fa-6x textred"></i>

                <h3 class="mdheading">{{program.business_unit.jury.profile}}</h3>
                <h4>{{program.business_unit.name}}</h4>
                <a href="{% url 'profile' program.business_unit.jury.profile.id %}">
                    <button type="submit" class="btn btnsign">Click here to view Profile </button>
                </a>
            </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>

    </div>

</section>
{% endblock content %}